[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui
[submodule "libs/eigen"]
	path = libs/eigen
	url = https://gitlab.com/libeigen/eigen
[submodule "libs/gl3w"]
	path = libs/gl3w
	url = https://github.com/skaslev/gl3w
[submodule "libs/libzip"]
	path = libs/libzip
	url = https://github.com/nih-at/libzip
